<!DOCTYPE html>
<html>
  <body>
    <h1>About the DIY Abortion Clinic</h1>

    <div>
      <h2>Why does this website exist?</h2>
      <p>
        Because every person who can get pregnant has the right to safe abortion for any reason.
      </p>

      <h2>How can I help ensure that people have access to abortion?</h2>
      <ul>
        <li>Donate to an abortion fund.</li>
        <li>Search online for forums to connect with people who need money,
            lodging, transportation, and other support to access reproductive care.</li>
        <li>Spread the word about <a href="https://exposefakeclinicspgh.com">fake clinics</a>.</li>
      </ul>

      <h2>How can I stop people from getting abortions?</h2>
      <p>You can't.</p>
    </div>
  </body>
</html>
